*{
    font-family: 'Bebas Neue', cursive;
    color: rgb(252, 247, 247);
}


/* Navbar / mobile navbar*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-top: 1%;
}
.mobile-menu {
    background-color: black;
    border-top: 2px solid rgb(250, 6, 6) ;
    width: 150px;
    height: 0;
    padding-top: 10px;
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 65px;  
    overflow: hidden;
}

.mobile-menu.on {
    display: flex;
    height: 150px;
}

.mobile-menu.on a{
    color: rgb(255, 255, 255);
}

.mobile-menu.on a:active{
    color: rgb(247, 8, 8);
}

@media screen and (min-width: 992px) {
    .mobile-menu.on {
        display: none;
        height: 150px;
    }
}

main{
    position: absolute;
    margin-top:80px;
    height: 5000px;
}